* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background:url(img/cartographer_@2X.png); /* Nuestra imagen de fondo */
	background-size:cover; /* Encajamos la imagen al 100% del ancho */
	

	font-family:helvetica, arial, sans-serif;
	line-height:20px;
}
nav{
	margin: 20px auto;
	width: 68%;
	max-width: 1000px;

}
nav ul{
 list-style:none;
}
nav > ul{
	display:table;
	overflow: hidden;
	width: 100%;
	background: rgba(24,8,33,.1);
	position: relative;
}
nav > ul li{
	display:table-cell; 
}
/*submenu*/
nav> ul > li:hover > ul {
	display: block;
	height: 100%;
	position: absolute;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

	
}
nav > ul > li > ul {
	display: block;
	position: absolute;
	background: #5da5a2;
	overflow: hidden;
	height: 0%;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;


}
/*----------*/

nav >ul li a{
	color: #fff;
	display: block;
	line-height: 20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul li ul li a:hover {
	background: #5da5a2;
}
nav >ul >li> a span{
	background: #174459;
	display: block;
	height: 98%;
	width: 98%;
	left: 0;
	position: absolute;
	top: -55px;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;


}
nav >ul >li> a span .icon{
	display: block;
	line-height: 60px;

}


nav > ul> li> a:hover>span{
	top: 0;

}
nav ul li a .primero{
	background: #0e5061;
	opacity: .3;

}
nav ul li a .segundo{
	background: #5da5a2;
	opacity: .3;

}
nav ul li a .tercero{
	background: #f25724;
	opacity: .3;
}
nav ul li a .cuarto{
	background: #175449;
	opacity: .3;
}
nav ul li a .quinto{
	background: #37a4d9;
	opacity: .3;
}
nav ul li a .sexto{
	background: #0e5061;
	opacity: .3;
}

/*_----------------------------------------------------------ultima modificacion al menu */

.contenedor {
	width: 98%;
	max-width:900px;
	margin:auto;
}

article {
	background:rgba(24,8,33,.5);
    padding:20px;
    margin:20px 0;
	color:#fff;
	box-shadow:0 5px 5px 3px rgba(0, 0, 0, 0.25);

}

	}

article h2 {
	color:#fff;
}

article hr {
	background:#F64740;
	height:5px;
	border:none;
	
}

article p {
	line-height: 25px;
}

article h2, article p, article hr {
	margin-bottom: 20px;
}
aside{
	position: left;
}

.left{
	text-align: left;
}
.center{
	text-align: center;
}
.centrado{
	position: 50%;
}
.justificado{
	letter-spacing: normal;
	text-align: justify;
}
img {
   
	border-radius:20px;
	/*box-shadow: 8px 8px 8px #424242;*/
	padding: 9px;
	border: 2px solid #ccc;/*borde para las imagenes*/
	

}
a {
	color: blue;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
footer{
	background:rgba(24,8,33,.5);/*color del fondo que sera sombreado*/
	color:white;
	width: 98%;
	max-width:900px;
	margin:auto;
	padding: 20px;

}
span{
	color: blue;

}
h1{
	color:orange;
}
h1:hover {
	color: white;
	-webkit-transition:all .3s ease;
	-moz-transition:all .3s ease;
	-ms-transition:all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;

}
h2{
	color:blue;
}
h3{
	color:orange;
}

